/* basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #f0f0f0 url('../resources/login_blurred_bg.png') no-repeat fixed center center;
    background-size: 106%;
}

/* main login page container */
.login-page {
    display: flex;
    width: 800px;
    height: 500px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
}

/* left-side image styling */
.login-image {
    flex: 1;
    background: url('../resources/login_hd_bg.png') no-repeat center center;
    background-size: 160%;
}

/* login form container */
.login-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header styles */
h1 {
    font-size: 24px;
    color: #333;
    text-align: left;
    margin-bottom: 5px;
}

.logo-text {
    color: #3A0CA3;
    font-weight: bold;
}

.login-header {
    font-size: 25px;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}

.login-subheader {
    font-size: px;
    color: #666;
    margin-bottom: 20px;
}

/* form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

button[type="submit"] {
    padding: 12px;
    background-color: #3A0CA3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #2b0890;
}

/* responsive design for smaller screens */
@media (max-width: 800px) {
    .login-page {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .login-image {
        height: 200px;
    }
}