body {
    background-image: url('../resources/student_newbg.png');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

nav, main {
    display: block;
}

nav {
    background: linear-gradient(to bottom, #FFFFFF, #CDCDCD);
    padding: 0.06em 1.25em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-account {
    display: flex;
    align-items: center;
}

.username {
    font-size: 1.1rem;
    margin-right: 24px;
}

.logout {
    padding-top: 6px;
}

.logo {
    font-weight: bold;
    font-size: 1.8rem;
}

.kaizen {
    color: black;
}

.forms {
    color: #E2AD0F;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    height: calc(100vh - 130px);
    overflow-y: auto;
    padding: 20px;
    margin-top: 10px;
    background: linear-gradient(to bottom, #FFFFFF, #CDCDCD);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab-button {
    padding: 4px 24px;
    margin-left: 18px;
    margin-right: 18px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 16px;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #E2AD0F;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#publishedList {
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 36px;
    width: 81.25rem;
}

#answeredList {
    display: none;
    margin-top: 14px;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 36px;
    width: 81.25rem;
}

.evaluation-card-item, .answered-evaluation-card-item{
    flex: 0 1 28%;
    border-radius: 11px;
    border-style: solid;
    height: 17.5rem;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.evaluation-card-item:hover {
    background-color: #0E0465;
    border-color: #0E0465;
    color: #ffffff;
}

.back {
    cursor: pointer
}

#evaluationContent, #answeredEvaluationContent {
    width: 50rem;
    display: flex;
    flex-direction: column;
}

#questionsList, #answeredQuestionsList {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    gap: 28px;
}

.question-card-item, .answered-question-card-item {
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column;
    border-style: solid;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px 16px;
    padding-bottom: 16px;
}

#submitAnswersBtn {
    margin-top: 50px;
    background-color: #E2AD0F; /* Yellow color */
    color: #ffffff; /* White text */
    padding: 10px 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitAnswersBtn:hover {
    background-color: #0E0465; /* Slightly darker yellow for hover effect */
}

/* Bold */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}