#evaluationTable {
    padding: 1.25rem;
}

.page-title {
    padding: 1.125rem;
}

.search-div {
    padding-top: 1.25rem;
    width: 31.25rem;
}

.results-container {
    padding-top: 1.125rem;
}

.evaluation-card {
    border-radius: 11px;
    border-style: solid;
    height: 17.5rem;
    padding: 0.875rem 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.evaluation-card h2 {
    font-weight: bold;
}